// Definição de Variavies de Cores //

$white-color: #f8f8f8;
$dark-color: #121212;
$black-color: #000000;

$red-color: #ff0000;
$carmin-color: #c00a0a;

$orange-color: #ff4800;
$yellow-color: #ffff00;

// Definição de Tamanho de Fontes //

$alt-size: 3.6rem;
$mid-size: 2.4rem;
$low-size: 1.2rem;

// Definiçaõ do Tamamho das Fontes Responsivdas //

$alt-size: 2.0rem;
$mid-size: 1.6rem;
$low-size: 1.0rem;

// Definiçaõ dos Espaçamentos Bordas //

$big-spacing: 2.5rem;
$mid-spacing: 1.5rem;
$small-spacing: 0.75rem;

// Definição dos Espaçamentos Responsivas //

$big-spacing: 1.2rem;
$mid-spacing: 0.6rem;
$small-spacing: 0.2rem;
